@import "~bootstrap/dist/css/bootstrap.css";

html,
body,
#root {
  height: 100vh;
}

.fade-in {
    animation: fadeIn 1.0s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}